<!DOCTYPE html>

<html>
    <head>
      <title>/ascii/</title>
    </head>

       <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css">
    </head>

    <body>
        <h1>/ascii/</h1>

	<form method="post">

	  <label>
	    <div>title</div>
	    <input type="text" name="title" value={{title}}>
	  </label>

	  <label>
	    <div>art</div>
	    <textarea name="art">{{art}}</textarea>
	  </label>

	  <div class="error">{{error}}</div>

	  <input type="submit">

	  <hr>
	  {% for art in arts %}
	  <div class="art">
	    <div class="art-title">{{art.title}}</div>
	    <pre class="art-body">{{art.art}}</pre>
	  </div>
	  {% endfor %}

	</form>
    </body>
</html>
