<!DOCTYPE html>

<html>
    <head>
      <title>New Post</title>
      <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css">
    </head>

    <body>
        <h1>New Post</h1>

	<form method="post">

	  <label>
	    <div>subject</div>
	    <input type="text" name="subject" value={{subject}}>
	  </label>

	  <label>
	    <div>content</div>
	    <textarea name="content">{{content}}</textarea>
	  </label>

	  <div class="error">{{error}}</div>

	  <input type="submit">

	  <hr>

	</form>
    </body>
</html>
