<!DOCTYPE html>

<html>
    <head>
      <title>CS 253 Blog</title>
      <link rel="stylesheet" href="/stylesheets/style.css" media="screen" type="text/css">
    </head>

    <body>

        <h1>CS 253 Blog</h1>

	{% for post in posts %}
	<div class="post">
	  <div class="post-heading">

	    <a href="/unit03/blog/{{post.key().id()}}" class="post-title">
	      {{post.subject}}
	    </a>
	    
	    <div class="post-date">
	      {{post.created.strftime("%B %d, %Y at %I:%M:%S %p")}}
	    </div>
	  </div>
	  
	  <div class="post-content">
	    {{post.content.replace('\n','<br>')|safe}}
	  </div>
	  
	</div>
	
	<br><br>
	{% endfor %}
	
    </body>
</html>
